/*
  сюда копируем переменные, которые меняются и меняем соответвственно их значения
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-img: url(../images/cover-image-light.png);

  --background-color: rgb(255, 241, 247);
  --base-text-color: rgb(53, 52, 48);
  --header-title-color: rgb(255, 194, 230);
  --section-title-color: rgb(53, 52, 48);
  --accent-color: rgb(255, 141, 203);
  --nav-color: rgb(53, 52, 48);
  --accent-color-transparent: rgba(50, 49, 45, 0.4);
  --accent-text-color: rgb(53, 52, 48);
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
  :root {
    --background-img: url(../images/cover-image-light.png);

    --background-color: rgb(255, 241, 247);
    --base-text-color: rgb(53, 52, 48);
    --header-title-color: rgb(255, 194, 230);
    --section-title-color: rgb(53, 52, 48);
    --accent-color: rgb(255, 141, 203);
    --nav-color: rgb(53, 52, 48);
    --accent-color-transparent: rgba(50, 49, 45, 0.4);
    --accent-text-color: rgb(53, 52, 48);
  }

  .theme-auto .rec-decor {
    display: none;
  }
}

.theme-light .rec-decor {
  display: none;
}